/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.panda-bg-info{
    background-color: #e6faed;
}
.slider-img{
    width: 300px;
}
.categories-img{
    width: 100px;
}